# PostgreSQL
POSTGRES_USER=aniverse
POSTGRES_PASSWORD=aniverse_dev
POSTGRES_DB=aniverse
POSTGRES_PORT=5432

# Prisma
DATABASE_URL=postgresql://aniverse:aniverse_dev@localhost:5432/aniverse

# Redis
REDIS_PORT=6379

# API
PORT=3001

# Web (crear packages/web/.env.local con esta variable)
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# JWT
JWT_ACCESS_SECRET=cambia-esto-secret-acceso-minimo-32-caracteres
JWT_REFRESH_SECRET=cambia-esto-secret-refresh-minimo-32-caracteres
